In [ ]:
import pandas as pd
df = pd.read_csv("Salary_dataset.csv")
# df.dropna(inplace=True)
df['Salary'] = df['Salary'].fillna(df['Salary'].mean())
df['YearsExperience'] = df['YearsExperience'].fillna(df['YearsExperience'].median())

    Unnamed: 0  YearsExperience         Salary
0            0              1.2   39344.000000
1            1              1.4   46206.000000
2            2              1.6   37732.000000
3            3              2.1   43526.000000
4            4              2.3   39892.000000
5            5              3.0   56643.000000
6            6              3.1   60151.000000
7            7              3.3   54446.000000
8            8              4.8   64446.000000
9            9              3.8   57190.000000
10          10              4.0   63219.000000
11          11              4.1   55795.000000
12          12              4.1   56958.000000
13          13              4.2   76488.357143
14          14              4.6   61112.000000
15          15              5.0   67939.000000
16          16              5.2   66030.000000
17          17              5.4   83089.000000
18          18              6.0   76488.357143
19          19              6.1   93941.000000
20          20              6.9   91739.000000
21          21              7.2   98274.000000
22          22              8.0  101303.000000
23          23              4.8  113813.000000
24          24              8.8  109432.000000
25          25              9.1  105583.000000
26          26              9.6  116970.000000
27          27              9.7  112636.000000
28          28             10.4  122392.000000
29          29             10.6  121873.000000